diffusers
huggingface-hub
matplotlib
numpy>=1.24.0
opencv-python
torch>2.2.0
torchaudio
torchvision
torchsde
tqdm
transformers
einops
librosa>=0.10.0
wandb
accelerate
notebook
progressbar
scipy
soundfile
ipykernel
Pillow
pydub
